body {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh ;

}
.hihi{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.linka a {
    display: flex;
    justify-content: center;
}
.rectangle {
    display: flex;
    align-items: center;
    justify-self:  center;
    height: 5rem;
    width: 5rem;
    background-color: aliceblue;
    
}
.center  {
    
    justify-content: center;
    

    
    
}